.container{
    background-color:yellowgreen;
    height: 500px;
    width: 1500px;
    border: 3px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
.c1,.c2,.c3,.c4{
    border: 2px solid black;
    height: 300px;
    width: 250px;
}
.c1{
    display: flex;
    background-color: rgb(230, 230, 73);
    gap: 12px;
    flex-basis: 50% ;
}
.c2{
    background-color: white;
}
.c3{
    background-color: rgb(112, 95, 173);;
}
.c4{
    background-color: rgb(188, 18, 38);
}
.c11,.c12,.c13,.c14{
    border: 2px solid rgb(119, 69, 3);
   
}
.c11{
    flex-basis: 30%;
    background-color: #c198ff;
}
.c12{
    background-color: #a365ff;
}
.c13{
    background-color: #7d2af9;
}
.c14{
    background-color: #5800dd;
}
